/* Estilo para el video de fondo */
.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Coloca el video detrás del contenido */
    object-fit: cover;
}

/* Estilo para el contenido encima del video */
.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    transition: box-shadow 0.3s ease; /* Agrega una transición suave al sombreado */
}

/* Aplica un sombreado sutil cuando el mouse pasa por encima del contenido */
.content:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tu preferencia */
}

.content h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(35, 236, 16);
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 40px;
}

.content h2 {
    text-align: center; 
    color: rgb(35, 236, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    border-bottom: 2px rgb(6, 38, 97) solid;
}

.content h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', Calibri;
    font-size: 20px;
}

span {
    color: rgb(184, 228, 159);
}

.imag1 {
    border: 2px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
 
}

.container-table {
    width: 90%;
    background: rgba(100, 187, 209, 0.8); /* Fondo semi-transparente para que el video sea visible */
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    grid-auto-rows: 50px;
}

.table--title {
    grid-column-start: 1;
    grid-column-end: 6;
    background: rgb(37, 21, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
